/* O css modules gera um classe com hexadecimal aleatorio, para que cada uma seja unica */

.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2.5rem;
}